# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Environment
.env